/* Reset some default browser styles */
body, h1, h2, h3, h4, h5, h6, p, ul, ol {
  margin: 0;
  padding: 0;
}

/* Set global font and background color */
body {
  font-family: 'Roboto', sans-serif;
  background-image: url("C:/Users/User/Downloads/Cybersec.png.free");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  color: #ffffff;
}

/* Global link styles */
a {
  color: #007bff;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}